body {
    padding-top: 20px;
}

.container {
    max-width: 950px;
}

.date {
    padding-top: 25px;
    text-align: right;
}

.articles {
    border: solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 0;
}

#article-block-template {
    display: none;
}

.news-footer {
    padding-top: 15px;
    text-align: center;
}

.from-top {
    margin-top: 20px;
}

.right-position {
    text-align: right;
}

.center {
    text-align: center;
    margin: auto;
}

span.glyphicon-circle-arrow-right, span.glyphicon-circle-arrow-left {
    font-size: 1.7em;
}

span.badge {
    vertical-align: 22%;
    font-size: 1.5em;
}

#add-comment-btn {
    margin: 10px 0 10px 0;
}

#comments-block {
    margin-top: 10px;
}

.single-comment  {
    margin-top: 10px;
}

.comment-text {
    padding-left: 5px;
}

#comment {
    display: none;
}